main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 4.5rem auto;
}

.topbar {
    grid-column: 1 / -1;
    height: 4.5rem;
    background-color: var(--purple);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.19), 0 .6rem .6rem rgba(0,0,0,0.23);;
    display: grid;
    align-content: center;
    justify-content: center;
}

.topbar h1 {
    margin-bottom: 0;
    font-size: 2.4rem;
    font-weight: 200;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / -1;
    min-height: 100vh;
    background-color: var(--black);
    transition: all 2ms ease;
}

.main-content {
    max-width: 129.2rem;
    min-height: 100vh;
    margin: 2rem auto;
    grid-row: 2 / -1;
    grid-column: 3 / -1;
    display: grid;
    grid-template-columns: repeat(3, minmax(30rem, 1fr));
    grid-gap: 4rem;
    font-size: 1.2rem;
    justify-content: space-around;
}

.board {
    background-color: var(--dark-purple);
}

@media (min-width: 768px) {
    .sidebar {
        grid-column: 1 / 3;
    }
}